*{
    margin: 0;
    padding: 0;
    
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

body {
    background-color: #E5C6C6;
    font-family: 'Roboto', sans-serif;
}

.nav{
    background-color: #070707;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 95px;
    position: fixed;
    width: 100%;
    z-index: 1;
   
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
  }
 li {
    float: left;
    font-size: 1.4rem;
 }

 .active {
    background-color: #4CAF50;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    li a:hover {
        color: #c77676;
        transition: 0.3s ease-in-out;
        transform: scale(1.2);
        font-weight: bold;
      }

     
  
    #main{
        width:100%;
        height:40%;
        opacity: 0.9;
        z-index: -1;
    }

    #main .mySlides{
        width: 100%;
        height: 30%;
        position: relative;
      animation: 2s ease-in-out 0s 1 fadeInAnimation;;

    }


    #h2-back-index h2{
      animation: 5s ease-in-out 0s 1 fadeInAnimation;;
      position: absolute;
      top: 28%;
      margin-left: 125px;
      font-size: 3.5rem ;
      color: white; 
      font-family: "Lora",serif;
    }

    #h3-img-index h3{
      animation: 5s ease-in-out 0s 1 fadeInAnimation;;
      position: absolute;
      top: 50%;
      margin-left: 40px;
      font-size: 2.2rem ;
      color: white; 
      font-family: "Kanit",sans-serif;
      white-space: nowrap;
      
    }

    #h2-back h2{
      animation: 3s ease-in-out 0s 1 fadeInAnimation;;
      position: absolute;
      top: 28%;
      margin-left: 410px;
      font-size: 4.5rem ;
      color: white; 
      font-family: "Lora",serif;
    }
    #h3-img h3{
      animation: 5s ease-in-out 0s 1 fadeInAnimation;;
      position: absolute;
      top: 60%;
      margin-left: 355px;
      font-size: 2.2rem ;
      color: white; 
      font-family: "Kanit",sans-serif;
      white-space: nowrap;
      
    }
    
    .goal{
      display: flex;
      justify-content: space-between;
    }

    .camp{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .camp-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 80px;
      margin-bottom: 34px;
      text-align: center;
    }

    .camp-container h2{
      align-items: center;
      font-family: "Kameron",serif;
      color:#f73518;
      font-size: 50px;
    }
   .camp-head{
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   .camp-head p{
    font-size:1.rem;
    text-align: center;
    justify-content: center;
    width:50%;
    font-family:"Lora",serif;
    margin-top: 10px;
    color: rgb(13, 12, 12);
   }

   .camp-block{
    display: flex;
    width: 100%;
    margin-top: 74px;
    margin-left: 160px;

   }

   .blocks{
height: 50%;
width: 50%;
   }
    #btn{
      animation: 5s ease-in-out 0s 1 fadeInAnimation;;
      position: absolute;
      top: 65%;
      background: #C30047;
      font-family: "Roboto",sans-serif;
      text-transform: inherit !important;
      padding: 22px 32px;
      margin-left: 230px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 19px !important;
      font-weight: 500 !important;
      border-radius: 35px;
      cursor: pointer;
      transition: color 0.4s linear;
      border: 0;
      overflow: hidden;
      
    }

    #back #btn:hover{
      transition: 0.3s ease-in-out;
      color: yellow;
      transform: scale(1.2);
      border: 2px solid yellow;

    }

   .section-container{
    top:0%;
   }

    .ftco-intro{
      margin-top: -217px;
    }

   .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    }

     .no-gutters{
      margin-right: 0;
      margin-left: 0;
    }

    section{
      display: block;
    }

     .row{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }

    
.justify-content-center{
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.d-flex{

  display: -webkit-box !important; 
  display: -ms-flexbox !important; 
  display: flex !important;
}

.col-md-5, .col-md{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.fadeInUp{
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.ftco-animated{
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; 
}

.ftco-intro .block-18.color-1 {
  background: #f86f2d;
}


.ftco-intro .block-18 {
  display: block;
  width: 100%;
  padding: 30px;
  color: rgba(0, 0, 0, 0.7);

}


.align-items-stretch {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.block-18 .text span {
  display: block;
}

span {
  color: #666161;
  font-size: 26px;
  font-family: "Lora",serif;

}


.ftco-intro .block-18 .text strong {
  font-size: 60px;
  color: #000;
  font-weight: 300;
}

/* .ftco-animate {
  opacity: 0;
  visibility: hidden;
} */

.block-18 .text strong {
  font-size: 30px;
}

b, strong {
  font-weight: bolder;
} 

.ftco-intro .block-18.color-2 {
  background: #fa8f3d;
}

.mb-4{
  margin-bottom: 1.5rem !important;
 
}

.text h3{

    line-height: 1.4;
    color: #666161;
    font-family: "Lora",serif;
    font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 26px;
  font-family: "Lora",serif;

}

.btn.btn-white {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-size: 26px;
  font-family: "Lora",serif;

  &:hover {
    background: #000;
    border: 1px solid #fff;
    color: white;
  }
}

strong .number{
  font-weight: bold;
}

.ftco-intro .block-18.color-3 {
  background: #faaa3a;
}


    #causes h2{
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Kameron",serif;
      color:#f73518;
      font-size: 50px;
      margin-top: 32px;
    }


    #causes-box{

      margin: 80px;
      display: flex;
      margin-right: 5px;
  }


   .box{
      border: 2px solid rgb(13, 5, 5);
      padding: 4px;
      margin: 18px;
      border-radius: 25px;
      background-color: #E5C6C6;
  }

  .box:hover{
          box-shadow: #dd1f1f 0px 0px 10px 0px;
          transform: scale(1.1);
          border-color: #c77676;

  }
  .box img{
  
    height: 239px;
    width: 326px;
    margin: auto;
    display: block;
  }
  
   .box p{
      font-size: 1.5rem;
      text-align: center;
      font-family:"Lora",serif;
      margin-top: 10px;
      color: rgb(255, 255, 255);
  }

 .box h2{
  color: white;
  margin-top: 12px;
  margin-left: 22px;

 }

 .box button {
  margin-top: 18px;
  background: #C30047;
  font-family: "Roboto",sans-serif;
  text-transform: inherit !important;
  padding: 22px 32px;
  margin-left: 120px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 19px !important;
  font-weight: 500 !important;
  border-radius: 35px;
  cursor: pointer;
  transition: color 0.4s linear;
  z-index: 1;
  border: 0;
  overflow: hidden;
  

 }

 .box button:hover{
  transition: 0.3s ease-in-out;
      color: yellow;
      transform: scale(1.1);
      border: 2px solid yellow;
 }
  
.section-cause{
  display: flex;
  height: 100%;
  width:100%;
  margin-bottom: 42px;

}

.bg{
  background-color: #ece5e5;
}

.name:hover{
  text-decoration: underline;
  translate: scale(1.6);
  cursor: pointer;
  color:rgb(223, 88, 88)
}


/* Events Section */

.home-events{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 43px;
  margin-left: -140px;
  width: 42%;

}

.events{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 84%;
  margin-top: 26px;
  opacity: 0.9;
}

.event-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
}



.event-head{
  display: inline;
  justify-content: center;
  align-items: center;
  width: 140%;
 
}

.event-head h3 {
  font-family: "Lora",serif;
  color: #1a0b08;
  font-size: 20px;
  margin-top: -86px;
  margin-left: -25px;
  font-weight: bold;
  width: 206px;
  &:hover{
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.1);
  }
}

.event-date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: -870px;
  margin-top: -96px;
  font-size: 0.8rem;
  font-weight: bold;
}



.event-desc{
margin-top: 13px;
width: 60%;
margin-left: -190px;
font-size: 1.1rem;
}


/* Footer */

#footer-container{
  background-color: #090808;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#footer-sections{
  display: flex;
  flex-direction: row;
}

#Donate h2{
  margin-left: 102px;
}

#footer-sections #Donate h2{
  color: white;
  font-family: "lora",sans-serif;
  font-size: 40px;
  margin-top: 10px;
}

#footer-sections #Donate p{
  color: white;
  font-family: "lora",sans-serif;
  font-size: 17px;
  margin-top: 30px;
  margin-left: 50px;
  line-height: 1.4;
}


#footer-sections #Navigation,
#footer-sections #Charities,
#footer-sections #Campaigns{
  color: white;
  font-family: "lora",sans-serif;
  font-size: 40px;
  margin-top: 10px;
  margin-left: 110px;
}


#footer-sections #Navigation ul,
#footer-sections #Charities ul,
#footer-sections #Campaigns ul{
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  padding: 0;
}

#footer-sections #Navigation ul li,
#footer-sections #Charities ul li,
#footer-sections #Campaigns ul li{
  font-size: 15px;
}



#footer-container p{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 42px;
}

#footer-btn{
  background: #C30047;
  font-family: "Roboto",sans-serif;
  text-transform: inherit !important;
  padding: 22px 32px;
  margin-left: 100px;
  color: #fff;
  cursor: pointer;
  font-size: 19px !important;
  font-weight: 500 !important;
  border-radius: 35px;
  cursor: pointer;
  transition: color 0.4s linear;
  z-index: 1;
  border: 0;
  overflow: hidden;
  
}

#footer-btn:hover{
  transition: 0.3s ease-in-out;
      color: yellow;
      transform: scale(1.1);
      border: 2px solid yellow;
}
/* footer{
  display: block;
}

.footer-container {
    position: relative;
    background: #0d0b0c;
}

/* @media (max-width: 575px)
.footer-padding {
  padding-top: 80px;
  padding-bottom: 0px;
} */

.footer-padding{
  padding-top:80px;
  padding-bottom: 0;
}

  .container, .container-fluid {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

.justify-content-center{
  justify-content: space-between!important;
}


.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-35 {
  margin-bottom: 35px;
}

a, button{
  color: #fff;
  outline: medium none;
}

.footer-wrapper .footer-area .footer-pera p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 19px;
  line-height: 1.8;
}

.footer-wrapper .footer-area .footer-tittle p {
  color: #ede9e9;
  font-size: 16px;
}

.footer-social a {
  color: #E6DAD8;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  margin-right: 24px;
}

.footer-social a i {
  -webkit-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  -ms-transition: all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
  display: inline-block;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}

.fab{
  font-weight: 400;
  font-family: "Font Awesome 5 Brands";
}

.fa, .fab, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.footer-wrapper .footer-area .footer-tittle h4 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 700;
}

.nav-sec{
  display: flex;
  flex-direction: column;
  
}

h4 {
  font-family: "Lora",serif;
  color: #d52868;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
}

ul {
  margin: 0px;
  padding: 0px;
}

.footer-wrapper .footer-area .footer-tittle ul li {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

li{
  list-style: none;
}

.footer-wrapper .footer-area .footer-tittle ul li a {
  color: #E6DAD8;
  font-weight: 300;
  flex-direction: column;
  font-size: 16px;
  text-decoration: underline transparent;
}


li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.footer-wrapper .footer-area .footer-tittle p {
  color: #E6DAD8;
  font-size: 16px;
}
p {
  font-family: "Lora",serif";
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: 300;
  margin-top: 0;
  line-height: 1;
}


.footer-wrapper .footer-bottom-area .footer-border {
  padding-top: 39px;
  padding-bottom: 1px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x)/ -2);
  margin-left: calc(var(--bs-gutter-x)/ -2);
}


.text-center {
  text-align: center!important;
}

.footer-wrapper .footer-bottom-area .footer-copy-right p i{
  color: #C30047;
}

.fa{
  font-weight: 900;
}

.fa{
  font-family: "Font Awesome 5 Free";
}

.footer-wrapper .footer-area .footer-form form {
  position: relative;
}

form{
  display: block;
  margin-top: 0em;
}

.footer-wrapper .footer-area .footer-form form input {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 30px;
  background: none;
  color: #fff;
}

button, input, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*, ::after, ::before {
  box-sizing: border-box;
}


.footer-wrapper .footer-area .footer-form form .form-icon button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  cursor: pointer;
  padding: 17px 36px;
  line-height: 1;
  background: #C30047;
  border-radius: 25px;
} */
/* .social-icons{
	padding:30px;
	background-color:#00506b;
  text-align: center;
}
/*.social-icons a{
	color:#fff;
  line-height:30px;
  font-size:30px;
  margin: 0 5px;
  text-decoration:none;
  
}
.social-icons a i{
	line-height:30px;
  font-size:30px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.social-icons a:hover i{
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
} */









